<!DOCTYPE html>
<html>
  <head>
    <title>Nodepop</title>
    <link rel="stylesheet" href='./stylesheets/reset.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <h1 class="title">Nodepop</h1>
    </header>

    <section class="anuncios">
      <% listaAnuncios.forEach(anuncio => { %> 
        <div>
          <article class="anuncio">
          <figure>
            <img src="<%= anuncio.urlFoto %>" alt="<%= anuncio.nombre %>">
          </figure>
          <p class="precio"><%= anuncio.precio %></p>
          <h2 class="titulo-anuncio"><%= anuncio.nombre %></h2>
          <p class="tags"><%= anuncio.tags %></p>
        </div>
        </article>
      <% }); %>
    </section>
  
  </body>
</html>
