<!DOCTYPE html>
<html>
  <head>
    <title>Nodepop</title>
    <link rel="stylesheet" href='./stylesheets/reset.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <h1 class="title">Nodepop</h1>
      <% getLocales().forEach( lang => { %>
        <a href="/lang/<%= lang %>"><%= lang.toUpperCase() %></a>&nbsp;
      <% }) %>
    </header>

    <section class="anuncios">
      <% listaAnuncios.forEach(anuncio => { %> 
        <div class="anuncio-wrapper">
          <article class="anuncio">
          <figure>
            <img src="images/anuncios/<%= anuncio.urlFoto %>" alt="<%= anuncio.nombre %>">
          </figure>
          <p class="venta"><% if (anuncio.venta === true) { %> <%= __('For sale') %> <% } else { %> <%= __('For buy') %> <% } %></p>
          <p class="precio"><%= __('Price:') %><%= anuncio.precio %></p>
          <h2 class="titulo-anuncio"><%= anuncio.nombre %></h2>
          <p class="tags">Tags: <%= anuncio.tags %></p>
        </div>
        </article>
      <% }); %>
    </section>
  
  </body>
</html>
